# .gitignore
*.retry
.vagrant/
.idea/
.vscode/
*~
*.log


.vault_pass
actividad-03/ansible.cfg
actividad-03/hosts.ini
actividad-03/site.yml
actividad-03/roles/firewall/README.md
actividad-03/roles/firewall/defaults/main.yml
actividad-03/roles/firewall/tasks/main.yml
